*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  outline: none;
  &:hover{
    text-decoration: none;
  }
}
.container{
  padding-left: 22px;
  padding-right: 7px;
}

li{
  list-style: none;
}
input, button, a{
  transition: all ease 0.3s;
}
.push-wrapper{
  overflow: hidden;
}
