*{
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  outline: none;
  &:hover{
    text-decoration: none;
  }
}
.container{
  padding-left: 3px;
  padding-right: 3px;
  @media screen and (min-width: $medium-devices) {
    padding-left: 22px;
    padding-right: 7px;
  }
}

li{
  list-style: none;
}
input, button, a{
  transition: all ease 0.3s;
}
.push-wrapper{
  overflow: hidden;
}
.main-content{
  position: relative;
  &::before{
    display: none;
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.4);
    z-index: 4;

  }
}
.bg-grey{
  background: #efebe9;
}
.categories-sec{
  padding: 60px 0;
  a{
    margin-bottom: 20px;
    @media screen and (min-width: $medium-devices) {
      margin-bottom: 0;
    }
  }
}
.good-card-block{
  background: #fff;
  border: 1xp solid #cccccc;
  height: 300px;
  transition: all ease 0.3s;
  padding: 5% 0;
  &:hover{
    box-shadow: 0px 3px 21px rgba(100, 100, 100, 0.49);
    h3{
      color: #ff6969;
    }
  }
}
.card-block-3{
  padding: 0;
}
.good-card-body{
  height: 100%;
}
.card-1{
  background: url(../img/1.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  background-position: center;
}
.card-2{
  background: url(../img/2.png);
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  background-position: center;
}
.card-3{
  background: url(../img/3.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
}
.expert-section{
  padding: 20px 0 34px 0;
  .expert-card{
    width: 91%;
    padding: 28px 0 8px 0;
    margin: 12px 4.5% 15px 4.5%;
    transition: all ease 0.3s;
    height: 163px;
    .card-svg{
      margin-bottom: 5px;
      position: relative;
      overflow: hidden;
      &:after{
        content: "";
        display: inline-block;
        position: absolute;
        bottom: -10px;
        width: 26%;
        left: 37%;
        height: 4px;
        background: rgba(236,103,100,.7);
        transition: all .3s ease;
        border-radius: 3px;
      }
      @media screen and (min-width: $extra-large-devices) {
        margin-bottom: 25px;
      }
    }
    &:hover{
      background: #f4f1f0;
      box-shadow: 0px 3px 21px rgba(100, 100, 100, 0.49);
      .card-svg::after{
        bottom: 0;
      }
    }
    @media screen and (min-width: $small-devices) {
      margin: 12px 0 15px 0;
    }
  }
}
.centerCard{
  @media screen and (min-width: $medium-devices) {
    margin: 12px 4.5% 15px 4.5% !important;
  }
}
.lastCard{
  @media screen and (min-width: $medium-devices) {
    margin-left: 9% !important;
  }
}
.news-section{
  background: #bcb8b8;
  padding: 55px 0 54px 0;
}


.news-card-block{
  height: 261px;
  transition: all ease 0.3s;
  margin: 10px 0 20px 0;
  @media screen and (min-width: $medium-devices) {
    margin: 10px 0 0 0;
  }
  &:hover{
    box-shadow: 0px 3px 21px rgba(100, 100, 100, 0.7);
    .news-text{
      padding-top: 22px;
    }
    .learn-more{
      bottom: 0;
    }
  }
}
.news-1{
  background: url(../img/news-1.png);
}
.news-2{
  background: url(../img/news-2.png);
}
.news-3{
  background: url(../img/news-3.png);
}
.news-card-body{
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
  height: 100%;
  padding: 18px;
  overflow: hidden;
  &::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.4);
  }
  .learn-more{
    padding: 12px 21px;
    background: #d34e4b;
    width: 100%;
    position: absolute;
    bottom: -51px;
    left: 0;
    transition: all ease 0.3s;
  }
}
.subscription-sec{
  padding: 61px 0;
}
.subscription-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  input{
    width: 320px;
    padding: 7px 0 7px 10px;
    font-size: 12px;
    outline: 0;
    margin-bottom: 20px;
    @media screen and (min-width: $medium-devices) {
      margin-bottom: 0;
      padding: 7px 0 7px 27px;
      width: 385px;
      font-size: 14px;
    }

  }
  @media screen and (min-width: $medium-devices) {
    flex-direction: row;
    justify-content: center;
  }
}
.hero{
  background: url(../img/karman.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 535px;

}
.fadeInUp{
  animation-duration: 0.5s !important;
}
.hero-content{
  position: relative;
  .square-1, .square-2, .square-3, .square-4{
    position: absolute;
    background: rgba(104,87,72,.4);
  }
  .square-1{
    height: 64px;
    width: 64px;
    bottom: 260px;
    right: 140px;
    animation-delay: .1s !important;
  }
  .square-2{
    height: 29px;
    width: 29px;
    bottom: 235px;
    right: 106px;
    animation-delay: .2s !important;
  }
  .square-3{
    height: 61px;
    width: 64px;
    bottom: 166px;
    right: 118px;
    animation-delay: .3s !important;
  }
  .square-4{
    height: 64px;
    width: 64px;
    bottom: 79px;
    right: 435px;
    animation-delay: .4s !important;
  }
}

.classification-list{
  display: flex;
  flex-wrap: wrap;
  @media screen and (min-width: $medium-devices) {
  display: block;
  }
}
.dots-list{
  padding-left: 20px;
 
  li{
    position: relative;
    cursor: pointer;
    transition: all ease 0.3s;
    font-size: 14px;
    line-height: 26px;
    @media screen and (min-width: $medium-devices) {
      font-size: 16px;
    }
    &::before{
      content: '';
      position: absolute;
      left: -7px;
      background: #d34e4b;
      display: block;
      height: 4px;
      top: calc(50% - 2px);
      width: 4px;
      border-radius: 100%;
    }
    &:hover{
      color:#d34e4b;
    }
  }
}
.alphabet-item{
  margin: 20px 0 40px 0;
  padding: 0 0 0 20px;
  span{
    color: #454544;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
  }
  li{
    a{
      color: #454544;
      font-size: 18px;
      text-transform: uppercase;
      &:hover{
        color: #000;
        outline: 0;
      }
    }
  }
}
.brands-reset{
  text-align: right;
  a{
    color: #454544;
    font-size: 16px;
    
    &:hover{
      color: #000;
      outline: 0;
    }
  }
  span{
    color:red;
    font-weight: bold;
  }
}
.lg-backdrop{
  background: rgba(0, 0, 0, 0.8) !important;
}
.lg-prev, .lg-next{
  background-color: transparent !important;
}
.brand-carousel{
 
  a{
    display: flex !important;
    justify-content: center;
    img{
      height: 450px;
    }
  }
}
.btn-product{
  display: flex;
  align-items: center;
  cursor: pointer;
  .icon-block{
    transition: all ease 0.3s;
    font-size: 55px;
    color: #e7413d;
    margin-right: 5px;
    @media screen and (min-width: $medium-devices) {
      font-size: 90px;
      margin-right: 10px;
    }
  }
  p{
    color: #454544;
    font-size: 12px;
    transition: all ease 0.3s;
    @media screen and (min-width: $medium-devices) {
      font-size: 18px;
    }
  }
  &:hover{
    .icon-block{
      transform: scale(1.1);
    }
    p{
      color: #000;
    }
  }
}
.news-categories{
  .categories-blog-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 0;
    padding-bottom: 20px;
    li{
      padding: 0 20px;
      margin: 5px 10px;
      a{
        color: #454544;
        font-size: 18px;
        &:hover{
          color: #000;
          outline: 0;
        }
      }
    }
  }
}
.news-cards-block{
  background: #e8e8e8;
  text-align: center;
  margin-bottom: 30px;
  transition: 0.3s;
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.12);
  opacity: 0.8;
  &:hover{
    opacity: 1;
  }
  .img-blog{
    width: 100%;
    img{
      width: 100%;
      height: auto;
      margin: 0;
    }
  }
}
.pagination-block{
  .pagination{
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    padding-bottom: 20px;
    li{
      margin:0 5px;
      a{
        color: #454544;
        font-size: 16px;
      } 
    }
    .active{
      a{
        color: #000;
      }
    }
  }
}