.text-content{
  position: absolute;
  bottom: -28px;
  left: 29px;
  color: #000;
  h3{
    margin-bottom: 0;
    transition: all ease 0.3s;
  }
}
.card-block-3{
  .text-content{
    bottom: -10px;
  }
}
h2{
   font-size: 40px;
   font-weight: 700;
   color: #454544;
   line-height: 1;
   margin-bottom: 0;
} 
.expert-section{
  text-align: center;
  color: #454544;
 p{
  font-size: 14px;
 }
 .expert-card{
  p{
    line-height: 1.7;
  }
 }
}
.news-title{
  text-align: center;
  color: #454544;
 p{
  font-size: 14px;
 }
}
.news-card-body{
  color: #fff;
  .hashtag{
    font-size: 14px;
    font-weight: 700;
    position: absolute;
    top: 17px;
    left: 21px;
    
  }
  .news-text{
    padding-top: 73px;
    position: relative;
    transition: all ease 0.3s;
  }
  h3{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0;
    @media screen and (min-width: $large-devices) {
      margin-bottom: 23px;
    }
  }
  p{
    font-size: 12px;
    margin-bottom: 0;
    line-height: 1.2;
  }
  .learn-more span{
    font-size: 24px;
    text-transform: uppercase;
    line-height: 1;
  }
}
.see-all-block{
  text-align: center;
  margin-top: 24px;
  position: relative;
  overflow: hidden;
}
.see-all{
  font-size: 16px;
  font-weight: 700;
  color: #3b3b3b;
  &:after{
    content: "";
    display: inline-block;
    position: absolute;
    left: 25%;
    bottom: -10px;
    width: 50%;
    height: 4px;
    background: rgba(236,103,100,.7);
    transition: all .3s ease;
    border-radius: 3px;
    @media screen and (min-width: $medium-devices) {
      left: 41%;
      width: 18%;
    }
  }
  &:hover{
    color: #3b3b3b;
    &::after{
      bottom: 4px;
    }
  }
 
}
.hero-text{
  overflow: hidden;
  color: #000;
    display: block;
  @media screen and (min-width: $large-devices) {
    margin-top: 210px;
    display: flex;
  }
  .hero-span{
    margin-left: 240px;
    margin-top: 123px;
    @media screen and (min-width: $large-devices) {
      margin-left: 70px;
      margin-top: -7px;
    }
  }
    span{
      font-size: 14px;
      font-weight: 700;
      position: relative;
      left: 10px;
      &::before{
        content: "";
        position: absolute;
        height: 30px;
        width: 2px;
        background-color: #333;
        top: 6px;
        left: -10px;
      }
    }
    .hero-h3{
      margin: 20px 0 0 0;
      height: min-content;
      padding: 7px 10px 8px 10px;
      background: rgba(104,87,72,.4);
      @media screen and (min-width: $large-devices) {
        margin: 153px 0 0 247px;
        padding: 7px 55px 8px 10px;
      }
    }
    h3{
      font-size: 28px;
      font-weight: 700;
      color: #fff;
      @media screen and (min-width: $large-devices) {
        font-size: 36px;
      }
    }
    .hero-p{
      margin-left: 16px;
      @media screen and (min-width: $large-devices) {
        margin-top: 228px;
      }
    }
    p{
      font-size: 12px;
      font-weight: 600;
    }
}
.download-block{
  text-align: center;
  margin-bottom: 20px;
  p{
    text-align: center;
    width: 70%;
    margin: 0px auto 20px;
  }
}
.brand{
  .left{
    span{
      color: #454544;
      display: inline-block;
      font-size: 24px;
      margin: 0;
      padding: 0;
      position: relative;
      text-align: left;
      padding-bottom: 60px;
      &:before{
        content: '';
        position: absolute;
        left: 0px;
        right: 0;
        display: block;
        height: 2px;
        background: #585551;
        bottom: 30px;
      }
    }
  }
  .right{
    color: #454544;
    font-size: 16px;
    align-items: center;
  }
  .descr{
    margin-bottom: 20px;
    p{
      color: #454544;
      line-height: 16px;
      text-align: justify;
    }
    a{
      color: #7b3900;
    }
  }
}
.news-block{
  .title{
    text-align: center;
    h1{
      font-size: 40px;
      font-weight: 700;
      color: #454544;
    }
  }
}
.news-titile{
  h3{
    font-size: 14px;
    line-height: 25px;
    position: relative;
    color: #454544;
    display: inline-block;
    width: 84%;
    margin: 0 auto;
    margin-top: 10px;
    &::before{
      position: absolute;
      content: '';
      left: 0;
      right: 0;
      bottom: -6px;
      background: #577e71;
      height: 3px;
      width: 57px;
      display: block;
      margin: 0 auto;
    }
  }

}
.news-description{
  width: 80%;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
  max-height: 158px;
  min-height: 168px;
  margin-bottom: 30px;
  overflow: hidden;
  p{
    text-align: justify;
    color: #454544;
    font-size: 14px;
  }
}
.blog-bottom{
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  padding: 0 10px 10px 10px;
  .blog-date{
    span{
      color: #aaa;
    }
  }
  .read-next span{
    color: #454544;
  }
}